#pyrogram==2.0.103 
#pyrofork==2.3.20
git+https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.18.zip
pymongo==4.3.3
moviepy==1.0.3
pillow==10.2.0
pytz==2023.3
pymongo[srv]
asyncio==3.4.3
gpytranslate==1.5.1
tgcrypto==1.2.5
telegraph==2.2.0
requests==2.31.0
aiohttp==3.9.5


